.detail-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* background-color: red; */
	width: 70%;
	margin: 2rem auto;
	border-radius: 1rem;
	box-shadow: 0 0 2rem -1rem;
}

.detail-left{
	/* border: .1rem solid black; */
	border-radius: 100%;
	background-color: yellow;
	border-inline: .2rem solid black;
	margin: auto 0;
}

.detail-right{
	/* border: .1rem solid black; */
	margin: auto 0;
	font-size: 1.4rem;
}

.info{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.info p{
	font-size: 1.6rem;
}

.types{
	display: flex;
	justify-content: space-around;
}