.card{
	width: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 2rem;
	margin-bottom: 5rem;
	padding-top: 1rem;
	border-radius: 1rem;
	transition: all .3s ease;
	box-shadow: 0 0 1rem -.5rem;
}

.card:hover{
	cursor: pointer;
	scale: 102%;
	box-shadow: 0 0 4rem -2rem;
}

.img-container{
	width: 85%;
	border: .1rem solid purple;
	border-radius: 10rem;
	box-shadow: 0 0 2rem -1rem;
	background-color: gray;
}

img{
	width: 100%;
}

.name{

}

.types-container{
	display: flex;

}

.type-bg{
	margin-right: 1rem;
}

.type-bg:last-child{
	margin-right: 0;
}
