.container{
	background-image: url('../../assets/bg-landing.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	filter: brightness(.7);
}

.btnHome{
	width: .4rem;
	height: 4.3rem;
	font-size: 2rem;
	padding: 1rem 3rem;
	cursor: pointer;
	border-radius: 100%;
	position: relative;
	left: .6rem;
	top: .4rem;
	transition: all .3s ease-in;
	z-index: 2;
}

.btnHome:hover{
	box-shadow: 0 0 8rem #2424FF;
}

.btnHome p{
	width: 6rem;
	position: relative;
	left: -2.8rem;
	top: -.8rem;
	color: blue;
	font-size: 1.8rem;
	transition: all .3s ease-in;
}

.btnHome p:hover{
	color: #2424FF;
}


.btnText{
	text-decoration: none;
}


