.navbar{
	display: flex;
	flex-direction: column;
	background-color: gray;
}

.top-nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

input{
	width: 20rem;
	padding:  .4rem 1rem;
}

.bottom-nav{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .7rem 0;
	background-color: yellow;
}

select{
	width: 8rem;
	padding: .2rem 0;
}

.ordering{
	margin-left: 2rem;
}